
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron">
  <h1>Transjakarta Route</h1>      
  <p>This website is create to help you, the users, find your fastest way to your destinaion with Transjakarta subway.</p>
</div>

<div class="row">   
    <div class="col-sm-4">
        <div class = "select source">
            <h2>Choose Your Starting Point: </h2>
            <select name = "source" id = "source">
                <option>Choose an option</option>
            </select> 
        </div>
        <div class = "select destinaion">
            <h2>Choose Your Destination</h2>
            <select name = "destination" id = "destination">
                <option>Choose an option</option>
            </select> 
        </div>
    </div>
    <div class="col-sm-8">
        <div name = "map" id = "map">{{ map | safe }}</div>
    </div>
</div>
</html>